<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ title }}</title>
    <meta name="description" content="Sadie Jane Healing">
    <meta name="author" content="Sadie Jane Healing">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.sadiejanehealing.com/">
    <meta property="og:description" content="Sadie Jane Healing">
    <meta property="og:image" content="image.png">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charmonman:wght@700&family=Zilla+Slab:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/styles.css' | url }}">
  </head>

  <body>
    <header>
      <img src="/assets/logo.svg" alt="">
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <img src="/assets/hand.svg" alt="">
      <p><a href="mailto:sjfurnell2015@hotmail.com">sjfurnell2015@hotmail.com</a></p>
      <p><a href="tel:07853040946">07853040946</a></p>
    </footer>
  </body>
</html>
