/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Site styles */
html {
  background: rgb(211,179,178);
  background: linear-gradient(90deg, rgba(211,179,178,1) 0%, rgba(252,236,212,1) 25%, rgba(252,236,212,1) 50%, rgba(252,236,212,1) 75%, rgba(211,179,178,1) 100%);
}

body {
  min-height: 100vh;
  display: grid;
  padding: 5%;
  font-family: 'Zilla Slab', serif;
  font-size: clamp(1em, 1vw + 1rem, 5rem);
  line-height: 1.4;
  color: #333;
}

header img {
  margin-inline: auto;
  max-width: 10em;
}

main {
  margin-inline: auto;
  max-width: 20em;
}

h1, h2, h3 {
  font-family: 'Charmonman', cursive;
  margin-block-start: 1em;
}

h1 {
  margin-block-end: 0.5em;
}

footer {
  padding-block-start: 5%;
  text-align: center;
}

footer img {
  margin-block-end: 5%;
  margin-inline: auto;
  max-width: 30em;
}
